<p>cart works!</p>
<div class="cart">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <td scope="col">Product Name</td>
        <td scope="col">Price</td>
        <td scope="col">Quantity</td>
        <td scope="col">Total</td>
        <td scope="col"></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cart of cartList; let i=index">
        <td>{{cart.productName}}</td>
        <td>{{cart.price}}</td>
        <td>
          <button (click)="decrement(i)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-patch-minus-fill" viewBox="0 0 16 16">
              <path
                d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM6 7.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1 0-1z" />
            </svg></button>
          {{cart.quantity}}
          <button (click)="increment(i)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-patch-plus-fill" viewBox="0 0 16 16">
              <path
                d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0z" />
            </svg></button>
        </td>
        <td>{{cart.quantity*cart.price | currency:'INR':'symbol-narrow'}}</td>
        <td><button class="product__btn" (click)="removeItem(cart)"><svg xmlns="http://www.w3.org/2000/svg" width="16"
              height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
              <path
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
            </svg></button></td>
      </tr>
      <tr style="text-align: center;">
        <td colspan="5"><button type="button" class="btn add__products" (click)="modalService.open(order_modal)">Order</button> </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #order_modal let-modal>
  <div class="order__modal">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Enter the following details to complete order.</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"
        style="display: 'none';">
        <span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body order__form">
      <form (ngSubmit)="order(); modal.dismiss('Submit')">
        <div>
          <label for="product__name">Customer Id : </label>
          <input type="number" id="customer__id" placeholder="Enter customer id" [(ngModel)]="customerId"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="order__btn">
          <button type="submit">Place Order</button>
        </div>
      </form>

    </div>
  </div>

</ng-template>