<div class="order__body">

    <h3>Orders</h3>
    <div class="orders">
        <table class="table">
            <thead>
                <tr>
                    <td scope="col">Order Id</td>
                    <td scope="col">Customer Name</td>
                    <td scope="col">Order Date</td>
                    <td scope="col">Address</td>
                    <td scope="col">Amount</td>
                </tr>
            </thead>
            <tbody>
                <tr class="clickabe" *ngFor="let order of orders; let i = index"
                    (click)="open(order_detailsModal,order)">
                    <td>{{order.orderId}}</td>
                    <td>{{order.customer.customerName}}</td>
                    <td>{{order.orderDate}}</td>
                    <td>{{order.customer.address+', '+order.customer.city+', '+order.customer.postalCode}}</td>
                    <td>{{order.total | currency:'INR':'symbol-narrow'}}</td>
                </tr>
        </table>
    </div>
</div>

<ng-template #order_detailsModal let-modal>
    <div class="add__modal">
        <h2>Order Details :</h2>
        <p>Order ID : <span>{{selectedOrder.orderId}}</span></p>
        <p>Order Date : <span>{{selectedOrder.orderDate}}</span></p>
        <p>Customer Name : <span>{{selectedOrder.customer.customerName}}</span></p>
        <p>Products Details : </p>
        <table class="table">
            <thead>
                <tr>
                    <td>Product Name</td>
                    <td>Quantity</td>
                    <td>Price</td>
                    <td>Total</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let o of selectedOrder.orderDetailsVo">
                    <td>{{o.productVo.productName}}</td>
                    <td>{{o.quantity}}</td>
                    <td>{{o.productVo.price| currency:'INR':'symbol-narrow'}}</td>
                    <td>{{o.quantity*o.productVo.price| currency:'INR':'symbol-narrow'}}</td>
                </tr>
            </tbody>
        </table>
        <p>Shipped by : <span style="margin-right: 30px;">{{selectedOrder.shipper.shipperName}}</span>ID : <span>{{selectedOrder.shipper.shipperId}}</span></p>
        <p>Grand Total : <span>{{selectedOrder.total| currency:'INR':'symbol-narrow'}}</span></p>
    </div>
    
</ng-template>