.product__body {
    margin: 30px;
    padding: 10px;
}


.products {
    /* position: relative; */
    padding-top: 20px;
    width: 600px;
    align-items: center;
    margin: auto;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h3 {
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
}


thead>tr {
    color: rgb(244, 142, 59);
    font-style: oblique;
    font-weight: bold;
}

tbody {
    color: antiquewhite;
}

.product__btn {
    border: none;
    background: none;
    color: white;
}

.product__btn__clicked{
    color: rgb(244, 142, 59);;
}

.add__products {
    color: black;
    background-color: rgb(244, 142, 59);;
}

.form h2 {
    padding-top: 10px;
    text-align: center;
}

.add__modal, .message__modal{
    padding: 10px;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(244, 142, 59);
}

.message__body{
    margin: auto;
    height: auto;
    width: auto;
    display: grid;
}

.product__form {
    margin: auto;
    height : auto;
    width: auto;
    
    align-items: center;
    /* border-radius: 25px; */
    padding: 20px;
}

.product__form div {
    margin: 10px;
    display: grid;
    flex-direction: row;
}

.product__form input {
    border-radius: 25px;
    border: 0;
}

.product__form .form__button {
    justify-content: center;
}

.product__form button {
    width: 100px;
    margin-top: 10px;
    background-color:rgb(244, 142, 59);
    border: 0;
    color: black;
}

.edit__form{
    margin-top: auto;
    width: 450px;
    float: right;
    position: absolute;
    top: 200px;
    right: 20px;
}

.edit__form h2{
    text-align: center;
}


.edit__form1{
    margin: auto;
    width: 400px;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    align-items: center;
    border-radius: 25px;
    padding: 20px;
    color: rgb(244, 142, 59);;
}

.edit__form1 div{
    margin: 10px;
    display: grid;
    flex-direction: row;
}

.edit__form1 button{
    width: 100px;
    margin-top: 10px;
    background-color:rgb(244, 142, 59);
    border: 0;
    color: black;
}

.edit__form1 .form__button{
    justify-content: center;
}