
/* You can add global styles to this file, and also import other style files */

/* colors */
:root{
    --color1 : #7fc8a9;
    --color2 : #d5eebb;
    --color3 : #5f7a61;
    --color4 : #444941;
    --form : #393E46;
}


.body{
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */  
    background: linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin:  20px;
   
}

*{
    font-family: 'century gothic';
}